<section class="page-section clearfix">
    <div class="container">
        <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="/images/happy-kid.jpg">
            <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">Weather Tracker</span><span class="section-heading-lower">WHAT'S YOUR ZIP CODE?</span></h2>
                <input type="text" id="code" placeholder="Zip Code" style="text-align:center;">
                <div class="mx-auto intro-button"><button class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" id="zipcode" type="submit">Check the Skies!</button></div>
            </div>
        </div>
    </div>
</section>
{{!-- <section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">Our Promise</span><span class="section-heading-lower">To You</span></h2>
                    <p class="mb-0">When you start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, prepare you for the weather. If you are not satisfied, please let us know and we will do whatever we
                        can to make things right!</p>
                </div>
            </div>
        </div>
    </div>
</section> --}}