<section class="page-section clearfix">
    <div class="container">
        <div class="intro"><img class="img-fluid intro-img mb-3 mb-lg-0 rounded" src="/images/happy-kid.jpg">
            <div class="intro-text left-0 text-centerfaded p-5 rounded bg-faded text-center">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">{{JSONObj.name}}</span><span class="section-heading-lower">{{ JSONObj.main.temp }}</span></h2>
                <p class="mb-3">{{ JSONObj.weather.[0].main }}</p>
                <div class="mx-auto intro-button"><a class="btn btn-primary d-inline-block mx-auto btn-xl" role="button" href="">Check the Skies!</a></div>
            </div>
        </div>
    </div>
</section>